{
  "swagger" : "2.0",
  "info" : {
    "description" : null,
    "version" : "1.0.0",
    "title" : null,
    "termsOfService" : null,
    "contact" : null,
    "license" : null
  },
  "host" : "centralusdtapp17.epicorsaas.com",
  "basePath" : "/saas671",
  "schemes" : [ "https" ],
  "paths" : {
    "/api/v2/odata/PS/BaqSvc/PS-PBI-Customer" : {
      "get" : {
        "tags" : [ "Execute" ],
        "summary" : null,
        "description" : null,
        "operationId" : "Execute",
        "produces" : [ "application/json" ],
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : null,
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accept",
          "in" : "header",
          "description" : null,
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Execute"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Execute##value" : {
      "properties" : {
        "Customer_CustNum" : {
          "type" : "number"
        },
        "Customer_Name" : {
          "type" : "string"
        },
        "Calculated_Region" : {
          "type" : "string"
        },
        "Calculated_NationalAccount" : {
          "type" : "string"
        },
        "Customer_CustID" : {
          "type" : "string"
        },
        "Calculated_BuyingGroup" : {
          "type" : "string"
        },
        "Calculated_Channel" : {
          "type" : "string"
        },
        "Customer_Zip" : {
          "type" : "string"
        },
        "Customer_City" : {
          "type" : "string"
        },
        "Customer_State" : {
          "type" : "string"
        },
        "Customer_Country" : {
          "type" : "string"
        },
        "Customer_Company" : {
          "type" : "string"
        },
        "Calculated_CustomerNameFilter" : {
          "type" : "string"
        },
        "RowIdent" : {
          "type" : "string"
        }
      }
    },
    "Execute" : {
      "properties" : {
        "@odata.context" : {
          "type" : "string"
        },
        "value" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Execute##value"
          }
        }
      }
    }
  }
}